name: Peskas Zanzibar Data Pipeline

on:
  push:
  schedule:
    # every 4 days at 00:00 UTC
    - cron: '0 0 */4 * *'

env:
  WCS_SURVEYS_ID: ${{ secrets.WCS_SURVEYS_ID }}
  WCS_SURVEYS_UNAME: ${{ secrets.WCS_SURVEYS_UNAME }}
  WCS_SURVEYS_PSSW: ${{ secrets.WCS_SURVEYS_PSSW }}
  WF_SURVEYS_ID: ${{ secrets.WF_SURVEYS_ID }}
  WF_SURVEYS_ID_V2: ${{ secrets.WF_SURVEYS_ID_V2 }}
  WF_SURVEYS_UNAME: ${{ secrets.WF_SURVEYS_UNAME }}
  WF_SURVEYS_PSSW: ${{ secrets.WF_SURVEYS_PSSW }}
  WF_SURVEYS_TOKEN: ${{ secrets.WF_SURVEYS_TOKEN }}
  GCP_SA_KEY: ${{ secrets.PESKAS_DATAINGESTION_GCS_KEY }}
  MONGODB_CONNECTION_STRING: ${{ secrets.MONGODB_CONNECTION_STRING }}
  MONGODB_CONNECTION_STRING_VALIDATION: ${{ secrets.MONGODB_CONNECTION_STRING_VALIDATION }}
  GOOGLE_SHEET_ID: ${{ secrets.GOOGLE_SHEET_ID }}
  PDS_TOKEN: ${{ secrets.PDS_TOKEN }}
  PDS_SECRET: ${{ secrets.PDS_SECRET }}
  AIRTABLE_TOKEN: ${{ secrets.AIRTABLE_TOKEN }}
  AIRTABLE_BASE_ID_FRAME: ${{ secrets.AIRTABLE_BASE_ID_FRAME }}
  AIRTABLE_BASE_ID_ASSETS: ${{ secrets.AIRTABLE_BASE_ID_ASSETS }}

jobs:
  build-container:
    name: Build R container
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.prod
          push: true
          tags: ghcr.io/worldfishcenter/peskas.zanzibar.data.pipeline/r-runner-peskas-zanzibar:latest
          cache-from: type=registry,ref=ghcr.io/worldfishcenter/peskas.zanzibar.data.pipeline/r-runner-peskas-zanzibar:buildcache
          cache-to: type=registry,ref=ghcr.io/worldfishcenter/peskas.zanzibar.data.pipeline/r-runner-peskas-zanzibar:buildcache,mode=max

  ingest-surveys:
    name: Ingest Kobo surveys
    needs: build-container
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/worldfishcenter/peskas.zanzibar.data.pipeline/r-runner-peskas-zanzibar:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Set env to production
        if: endsWith(github.ref, '/main')
        run: echo "R_CONFIG_ACTIVE=production" >> $GITHUB_ENV
      - name: Call ingest_wcs_surveys()
        run: Rscript -e 'peskas.zanzibar.data.pipeline::ingest_wcs_surveys()'
      - name: Call ingest_wf_surveys()
        run: Rscript -e 'peskas.zanzibar.data.pipeline::ingest_wf_surveys()'

  preprocess-surveys:
    name: Preprocess Kobo surveys
    needs: build-container
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/worldfishcenter/peskas.zanzibar.data.pipeline/r-runner-peskas-zanzibar:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Set env to production
        if: endsWith(github.ref, '/main')
        run: echo "R_CONFIG_ACTIVE=production" >> $GITHUB_ENV
      - name: Call preprocess_ba_surveys()
        run: Rscript -e 'peskas.zanzibar.data.pipeline::preprocess_ba_surveys()'        
      - name: Call preprocess_wcs_surveys()
        run: Rscript -e 'peskas.zanzibar.data.pipeline::preprocess_wcs_surveys()'
      - name: Call preprocess_wf_surveys()
        run: Rscript -e 'peskas.zanzibar.data.pipeline::preprocess_wf_surveys()'



  ingest-preprocess-pds-data:
    name: Ingest and preprocess GPS data
    needs: build-container
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/worldfishcenter/peskas.zanzibar.data.pipeline/r-runner-peskas-zanzibar:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Set env to production
        if: endsWith(github.ref, '/main')
        run: echo "R_CONFIG_ACTIVE=production" >> $GITHUB_ENV
      - name: Call ingest_pds_trips()
        run: Rscript -e 'peskas.zanzibar.data.pipeline::ingest_pds_trips()'
      - name: Call ingest_pds_tracks()
        run: Rscript -e 'peskas.zanzibar.data.pipeline::ingest_pds_tracks()'
      - name: Call preprocess_pds_tracks()
        run: Rscript -e 'peskas.zanzibar.data.pipeline::preprocess_pds_tracks()'

  validate-sync-surveys:
    name: Validate and sync Kobo submissions
    needs: [ingest-surveys, preprocess-surveys]
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/worldfishcenter/peskas.zanzibar.data.pipeline/r-runner-peskas-zanzibar:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Set env to production
        if: endsWith(github.ref, '/main')
        run: echo "R_CONFIG_ACTIVE=production" >> $GITHUB_ENV
      # - name: Call validate_wcs_surveys()
      #   run: Rscript -e 'peskas.zanzibar.data.pipeline::validate_wcs_surveys()'
      - name: Call validate_ba_surveys()
        run: Rscript -e 'peskas.zanzibar.data.pipeline::validate_ba_surveys()'
      - name: Call validate_wf_surveys()
        run: Rscript -e 'peskas.zanzibar.data.pipeline::validate_wf_surveys()'
      # - name: Call sync_validation_submissions()
      #   run: Rscript -e 'peskas.zanzibar.data.pipeline::sync_validation_submissions()'

  merge-trips:
    name: Merge PDS and survey trips
    needs: [validate-sync-surveys, ingest-preprocess-pds-data]
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/worldfishcenter/peskas.zanzibar.data.pipeline/r-runner-peskas-zanzibar:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Set env to production
        if: endsWith(github.ref, '/main')
        run: echo "R_CONFIG_ACTIVE=production" >> $GITHUB_ENV
      - name: Call merge_trips()
        run: Rscript -e 'peskas.zanzibar.data.pipeline::merge_trips(site = "zanzibar")'

  export-api-raw:
    name: Export raw API formatted data
    needs: preprocess-surveys
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/worldfishcenter/peskas.zanzibar.data.pipeline/r-runner-peskas-zanzibar:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Set env to production
        if: endsWith(github.ref, '/main')
        run: echo "R_CONFIG_ACTIVE=production" >> $GITHUB_ENV
      - name: Call export_api_raw()
        run: Rscript -e 'peskas.zanzibar.data.pipeline::export_api_raw()'


  export-api-validated:
    name: Export validated API formatted data
    needs: validate-sync-surveys
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/worldfishcenter/peskas.zanzibar.data.pipeline/r-runner-peskas-zanzibar:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Set env to production
        if: endsWith(github.ref, '/main')
        run: echo "R_CONFIG_ACTIVE=production" >> $GITHUB_ENV
      - name: Call export_api_validated()
        run: Rscript -e 'peskas.zanzibar.data.pipeline::export_api_validated()'
        

  summarize-model-data:
    name: Summarize and model validated data
    needs: [export-api-validated, ingest-preprocess-pds-data]
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/worldfishcenter/peskas.zanzibar.data.pipeline/r-runner-peskas-zanzibar:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Set env to production
        if: endsWith(github.ref, '/main')
        run: echo "R_CONFIG_ACTIVE=production" >> $GITHUB_ENV
      - name: Call summarize_data()
        run: Rscript -e 'coasts::summarize_data(package = "peskas.zanzibar.data.pipeline")'
      - name: Call generate_fleet_analysis()
        run: Rscript -e 'coasts::generate_fleet_analysis(package = "peskas.zanzibar.data.pipeline")'

  export-wf-surveys:
    name: Export aggregated data
    needs: summarize-model-data
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/worldfishcenter/peskas.zanzibar.data.pipeline/r-runner-peskas-zanzibar:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Set env to production
        if: endsWith(github.ref, '/main')
        run: echo "R_CONFIG_ACTIVE=production" >> $GITHUB_ENV
      - name: Call export_portal()
        run: Rscript -e 'coasts::export_portal(package = "peskas.zanzibar.data.pipeline")'
        
