name: Peskas Zanzibar Data Pipeline

on:
  push:
  schedule:
    - cron: "0 0 */4 * *"

env:
  WCS_SURVEYS_ID: ${{ secrets.WCS_SURVEYS_ID }}
  WCS_SURVEYS_UNAME: ${{ secrets.WCS_SURVEYS_UNAME }}
  WCS_SURVEYS_PSSW: ${{ secrets.WCS_SURVEYS_PSSW }}
  WF_SURVEYS_ID: ${{ secrets.WF_SURVEYS_ID }}
  WF_SURVEYS_ID_V2: ${{ secrets.WF_SURVEYS_ID_V2 }}
  WF_SURVEYS_UNAME: ${{ secrets.WF_SURVEYS_UNAME }}
  WF_SURVEYS_PSSW: ${{ secrets.WF_SURVEYS_PSSW }}
  WF_SURVEYS_TOKEN: ${{ secrets.WF_SURVEYS_TOKEN }}
  GCP_SA_KEY: ${{ secrets.PESKAS_DATAINGESTION_GCS_KEY }}
  MONGODB_CONNECTION_STRING: ${{ secrets.MONGODB_CONNECTION_STRING }}
  GOOGLE_SHEET_ID: ${{ secrets.GOOGLE_SHEET_ID }}
  PDS_TOKEN: ${{ secrets.PDS_TOKEN }}
  PDS_SECRET: ${{ secrets.PDS_SECRET }}

jobs:
  build-container:
    name: Build R container
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Build image with cache
        id: build-docker
        uses: whoan/docker-build-with-cache-action@v5
        with:
          username: $GITHUB_ACTOR
          password: "${{ secrets.GITHUB_TOKEN }}"
          registry: docker.pkg.github.com
          image_name: r-runner-peskas-zanzibar
          dockerfile: Dockerfile.prod

  ingest-surveys:
    name: Ingest kobo surveys
    needs: build-container
    runs-on: ubuntu-24.04
    container:
      image: docker.pkg.github.com/worldfishcenter/peskas.zanzibar.data.pipeline/r-runner-peskas-zanzibar
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Set env to production
        if: endsWith(github.ref, '/main')
        run: echo "R_CONFIG_ACTIVE=production" >> $GITHUB_ENV
      - name: Call ingest_surveys()
        run: Rscript --vanilla -e 'peskas.zanzibar.data.pipeline::ingest_surveys()'

  ingest-pds-data:
    name: Ingest GPS data
    needs: build-container
    runs-on: ubuntu-24.04
    container:
      image: docker.pkg.github.com/worldfishcenter/peskas.zanzibar.data.pipeline/r-runner-peskas-zanzibar
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Set env to production
        if: endsWith(github.ref, '/main')
        run: echo "R_CONFIG_ACTIVE=production" >> $GITHUB_ENV  
      - name: Call ingest_pds_trips()
        run: Rscript --vanilla -e 'peskas.zanzibar.data.pipeline::ingest_pds_trips()'
      - name: Call ingest_pds_tracks()
        run: Rscript --vanilla -e 'peskas.zanzibar.data.pipeline::ingest_pds_tracks()'

  preprocess-surveys:
    name: Preprocess kobo surveys
    needs: ingest-surveys
    runs-on: ubuntu-24.04
    container:
      image: docker.pkg.github.com/worldfishcenter/peskas.zanzibar.data.pipeline/r-runner-peskas-zanzibar
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Set env to production
        if: endsWith(github.ref, '/main')
        run: echo "R_CONFIG_ACTIVE=production" >> $GITHUB_ENV
      - name: Call preprocess_ba_surveys()
        run: Rscript --vanilla -e 'peskas.zanzibar.data.pipeline::preprocess_ba_surveys()'
      - name: Call preprocess_wf_surveys()
        run: Rscript --vanilla -e 'peskas.zanzibar.data.pipeline::preprocess_wf_surveys()'
        

  preprocess-pds-tracks:
    name: Preprocess GPS tracks
    needs: ingest-pds-data
    runs-on: ubuntu-24.04
    container:
      image: docker.pkg.github.com/worldfishcenter/peskas.zanzibar.data.pipeline/r-runner-peskas-zanzibar
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Set env to production
        if: endsWith(github.ref, '/main')
        run: echo "R_CONFIG_ACTIVE=production" >> $GITHUB_ENV
      - name: Call preprocess_pds_tracks()
        run: Rscript --vanilla -e 'peskas.zanzibar.data.pipeline::preprocess_pds_tracks()'

  validate-surveys:
    name: Validate kobo surveys
    needs: preprocess-surveys
    runs-on: ubuntu-24.04
    container:
      image: docker.pkg.github.com/worldfishcenter/peskas.zanzibar.data.pipeline/r-runner-peskas-zanzibar
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Set env to production
        if: endsWith(github.ref, '/main')
        run: echo "R_CONFIG_ACTIVE=production" >> $GITHUB_ENV
      # - name: Call validate_wcs_surveys()
      #   run: Rscript --vanilla -e 'peskas.zanzibar.data.pipeline::validate_wcs_surveys()'
      - name: Call validate_ba_surveys()
        run: Rscript --vanilla -e 'peskas.zanzibar.data.pipeline::validate_ba_surveys()'
      - name: Call validate_wf_surveys()
        run: Rscript --vanilla -e 'peskas.zanzibar.data.pipeline::validate_wf_surveys()'

  sync-validation:
    name: Sync surveys validation
    needs: validate-surveys
    runs-on: ubuntu-24.04
    container:
      image: docker.pkg.github.com/worldfishcenter/peskas.zanzibar.data.pipeline/r-runner-peskas-zanzibar
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Set env to production
        if: endsWith(github.ref, '/main')
        run: echo "R_CONFIG_ACTIVE=production" >> $GITHUB_ENV
      - name: Call sync_validation_submissions()
        run: Rscript --vanilla -e 'peskas.zanzibar.data.pipeline::sync_validation_submissions()'
        
  summarize-wf-data:
    name: Summarize validated data
    needs: [validate-surveys, preprocess-pds-tracks, sync-validation]
    runs-on: ubuntu-24.04
    container:
      image: docker.pkg.github.com/worldfishcenter/peskas.zanzibar.data.pipeline/r-runner-peskas-zanzibar
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Set env to production
        if: endsWith(github.ref, '/main')
        run: echo "R_CONFIG_ACTIVE=production" >> $GITHUB_ENV
      - name: Call summarize_data()
        run: Rscript --vanilla -e 'peskas.zanzibar.data.pipeline::summarize_data()'        

  model-wf-data:
    name: Model fishery data
    needs: [summarize-wf-data]
    runs-on: ubuntu-24.04
    container:
      image: docker.pkg.github.com/worldfishcenter/peskas.zanzibar.data.pipeline/r-runner-peskas-zanzibar
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Set env to production
        if: endsWith(github.ref, '/main')
        run: echo "R_CONFIG_ACTIVE=production" >> $GITHUB_ENV
      - name: Call generate_fleet_analysis()
        run: Rscript --vanilla -e 'peskas.zanzibar.data.pipeline::generate_fleet_analysis()'        

  export-wf-surveys:
    name: Export aggregated data
    needs: [model-wf-data]
    runs-on: ubuntu-24.04
    container:
      image: docker.pkg.github.com/worldfishcenter/peskas.zanzibar.data.pipeline/r-runner-peskas-zanzibar
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Set env to production
        if: endsWith(github.ref, '/main')
        run: echo "R_CONFIG_ACTIVE=production" >> $GITHUB_ENV
      - name: Call export_wf_data()
        run: Rscript --vanilla -e 'peskas.zanzibar.data.pipeline::export_wf_data()'